<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/combine/npm/@babel/polyfill@7.2.5/dist/polyfill.min.js,npm/@ungap/url-search-params@0.1.2/min.js,npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@1.3.0/webcomponents-loader.js" crossorigin></script>
    <link rel="import" href="../{{.Name}}/">
    <link rel="stylesheet" href="../assets/css/ts.css">
    <title>{{.Metadata.Label|html}}</title>
  </head>

  <body>
    <div id="contents">
      <h1 class="page_ttl">{{.Metadata.Label|html}}</h1>

      <ul class="showcase_icn">
        {{range .Tags}}
        <li>{{.}}</li>
        {{end}}
      </ul>

      <p class="lead">{{.Metadata.Definition|html}}</p>

      <div class="showcase_detail">
        <ul class="showcase_id">
          {{range .Metadata.Parameters}}
            <li>
              <dl>
                <dt>{{.Key|html}}</dt>

                <dd>
                  <p class="id_box">
                    <input type="text" value="{{.Example|html}}" data-param-key="{{.Key|html}}">

                    {{if .Required}}
                      <span class="required">required</span>
                    {{end}}
                  </p>

                  <p class="eg">
                    {{.Description|html}}
                  </p>
                </dd>
              </dl>
            </li>
          {{end}}
        </ul>

        <div class="showcase_code">
          <code>{{.Metadata.Usage|html}}</code>
        </div>

        <p class="explain">
          The above element will automatically embed the following Stanza in your HTML page.
        </p>

        <div class="showcase_box">
          {{.Metadata.Usage}}
        </div>
      </div>
      <script>
        const stanza = document.querySelector('togostanza-{{.Name|js}}');
        const inputs = document.querySelectorAll('.showcase_id input');

        Array.prototype.forEach.call(inputs, function(input) {
          const onParamChange = function() {
            stanza.setAttribute(input.dataset.paramKey, input.value);
          };

          input.addEventListener('input', onParamChange);
          onParamChange();
        });
      </script>
    </div>
  </body>
</html>
