<!DOCTYPE html>

<html>
  <head>
    <script src="../assets/components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="../{{.Name}}/">
    <link rel="stylesheet" href="../assets/css/ts.css">
    <title>{{.Metadata.Label|html}}</title>
  </head>

  <body>
    <div id="contents">
      <h1 class="page_ttl">{{.Metadata.Label|html}}</h1>

      <ul class="showcase_icn">
        {{range .Tags}}
        <li>{{.}}</li>
        {{end}}
      </ul>

      <p class="lead">{{.Metadata.Definition|html}}</p>

      <div class="showcase_detail">
        <ul class="showcase_id">
          {{range .Metadata.Parameters}}
            <li>
              <dl>
                <dt>{{.Key|html}}</dt>

                <dd>
                  <p class="id_box">
                    {{.Example|html}}

                    {{if .Required}}
                      <span class="required">required</span>
                    {{end}}
                  </p>

                  <p class="eg">
                    {{.Description|html}}
                  </p>
                </dd>
              </dl>
            </li>
          {{end}}
        </ul>

        <div class="showcase_code">
          <code>{{.Metadata.Usage|html}}</code>
        </div>

        <p class="explain">
          The above element will automatically embed the following Stanza in your HTML page.
        </p>

        <div class="showcase_box">
          {{.Metadata.Usage}}
        </div>
      </div>
  </body>
</html>
