{{#each attributes}}
  <table class='table'>
    <tbody>
      {{#if sequence_length}}
        <tr><th class='span4'>Sequence length</th><td class='span8'>{{sequence_length}}</td></tr>
      {{/if}}

      {{#if sequence_status}}
        <tr><th class='span4'>Sequence status</th><td class='span8'>{{sequence_status}}</td></tr>
      {{/if}}

      {{#if sequence_processing}}
        <tr><th class='span4'>Sequence processing</th><td class='span8'>{{sequence_processing}}</td></tr>
      {{/if}}

      {{#if existence_label}}
        <tr><th class='span4'>Protein existence</th><td class='span8'>{{existence_label}}</td></tr>
      {{/if}}
    </tbody>
  </table>
{{/each}}
