@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?61039828");
  src: url("../font/fontello.eot?61039828#iefix") format("embedded-opentype"), url("../font/fontello.woff?61039828") format("woff"), url("../font/fontello.ttf?61039828") format("truetype"), url("../font/fontello.svg?61039828#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61039828#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-checked:before {
  content: '\e800';
}

/* '' */
.icon-close:before {
  content: '\e801';
}

/* '' */
.icon-right-arrow:before {
  content: '\e802';
}

/* '' */
.icon-uncheck:before {
  content: '\e803';
}

/* '' */
.icon-twitter:before {
  content: '\e805';
}

/* '' */
.icon-facebook:before {
  content: '\e806';
}

/* '' */
/* = reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* = body
----------------------------------------------- */
body {
  min-width: 940px;
  color: #444;
  background: #fff;
  border-top: 4px solid #f39800;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

/* = anchor
----------------------------------------------- */
a:link, a:visited {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: #444;
  text-decoration: none;
}

.enlargable:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* = header
----------------------------------------------- */
#header {
  width: 920px;
  margin: 0 auto;
  padding: 18px 0 12px;
  overflow: hidden;
}
#header .logo {
  float: left;
  width: 106px;
}
#header .nav {
  float: left;
  width: 700px;
}
#header .nav ul {
  margin: 13px 0 0;
  overflow: hidden;
}
#header .nav li {
  float: left;
  margin: 0 45px 0 0;
  font-weight: 300;
}
#header .nav li.current a {
  color: #f39800;
}
#header .social {
  float: right;
  width: 52px;
  margin: 10px 0 0;
}
#header .social li {
  float: left;
  width: 18px;
}
#header .social li:first-child {
  margin-right: 16px;
}

/* = contents
----------------------------------------------- */
#contents {
  width: 920px;
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #e5e4e1;
}
#contents .page_ttl {
  color: #f39800;
  font-size: 48px;
  font-weight: 700;
}
#contents .lead {
  margin: 15px 0 0;
  line-height: 1.25;
}

.contents_list {
  margin: 20px 0;
}
.contents_list .ttl {
  margin: 25px 0 0;
  padding: 15px 0;
  color: #f39800;
  border-top: 1px solid #e5e4e1;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
}
.contents_list p {
  line-height: 1.25;
}

.more {
  margin: 5px 0 0;
}
.more a {
  padding: 0 10px;
  color: #fff;
  background-color: #5e5855;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
}
.more a:after {
  font-family: "fontello";
  content: '\e802';
  font-size: 60%;
  margin-left: 1em;
  line-height: 100%;
  position: relative;
  top: -1px;
}

/* = footer
----------------------------------------------- */
#footer {
  border-top: 1px solid #e5e4e1;
}
#footer .footer_inner {
  position: relative;
  width: 890px;
  margin: 0 auto;
  padding: 10px 0 55px;
}
#footer .footer_inner .ccl {
  position: absolute;
  top: 19px;
  right: 0;
}
#footer .footer_inner .contact, #footer .footer_inner .copyright {
  display: block;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 1.333;
}

/* = top
----------------------------------------------- */
#page_home #header {
  padding-bottom: 0;
}
#page_home #header .logo {
  width: 120px;
}
#page_home #header .nav {
  width: 686px;
}

.mainvisual {
  text-align: center;
}

.welcome {
  color: #fff;
  background-color: #f39800;
}
.welcome .welcome_inner {
  width: 890px;
  margin: 0 auto;
  padding: 20px 0 50px;
}
.welcome .welcome_inner h1 {
  margin: 0 0 10px;
  font-size: 48px;
  font-weight: 700;
}
.welcome .welcome_inner p {
  line-height: 1.25;
}

.about {
  width: 890px;
  margin: 0 auto;
  padding: 30px 0 50px;
  overflow: hidden;
}
.about .txt {
  float: left;
  width: 440px;
}
.about .txt h2 {
  margin: 0 0 5px;
  color: #f39800;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}
.about .txt p {
  margin: 0 0 65px;
  font-size: 12px;
  line-height: 1.333;
}
.about .img {
  float: right;
  width: 398px;
  padding: 15px;
  background-color: #f5f4f3;
}

.user {
  border-top: 1px solid #e5e4e1;
}
.user .user_inner {
  width: 890px;
  margin: 0 auto;
  padding: 40px 0 25px;
}
.user h2 {
  margin: 0 0 30px;
  color: #f39800;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}
.user ul {
  overflow: hidden;
}
.user ul li {
  float: left;
  width: 33%;
  margin: 0 0 40px;
  font-size: 12px;
  line-height: 1.333;
  text-align: center;
}
.user ul li img {
  display: block;
  margin: 0 auto 3px;
}
.user ul li a:link, .user ul li a:visited {
  color: #0071bc;
  text-decoration: underline;
}
.user ul li a:hover {
  text-decoration: none;
}

/* = showcase
----------------------------------------------- */
/* showcase(common styles) */
.showcase_icn {
  margin: 5px 0 15px;
}
.showcase_icn li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0 10px;
  color: #fff;
  background-color: #5e5855;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
}

.showcase_box {
  padding: 15px;
  background-color: #f5f4f3;
}
.showcase_box iframe {
  width: 100%;
}

/* showcase_index */
.showcase_index {
  margin: 40px 0 0;
  padding: 18px 0 0;
  border-top: 1px solid #e5e4e1;
}
.showcase_index .list_item {
  margin: 0 0 30px;
}
.showcase_index .list_ttl, .showcase_index .list_ttl a {
  color: #f39800;
  font-size: 32px;
  font-weight: 700;
}

/* showcase_detail */
.showcase_detail {
  margin: 0 0 -10px;
  margin: 20px 0 0;
}
.showcase_detail .showcase_id li {
  margin: 0 0 1px;
  background-color: rgba(243, 152, 0, 0.2);
  width: 894px;
  padding: 4px 13px;
}
.showcase_detail .showcase_id li:first-child {
  background-color: rgba(243, 152, 0, 0.3);
}
.showcase_detail .showcase_id li dt {
  display: table-cell;
  width: 72px;
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
}
.showcase_detail .showcase_id li dd {
  display: table-cell;
  width: 822px;
  font-size: 12px;
  vertical-align: middle;
}
.showcase_detail .showcase_id li dd .id_box {
  display: table-cell;
  width: 191px;
  padding: 0 5px 0 10px;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}
.showcase_detail .showcase_id li dd .id_box .required {
  float: right;
  margin-left: 0.5em;
  color: #f39800;
}
.showcase_detail .showcase_id li dd .eg {
  display: table-cell;
  width: 600px;
  padding: 0 0 0 15px;
  line-height: 1.6;
}
.showcase_detail .showcase_code {
  margin: 0 0 8px;
  padding: 13px;
  color: #fff;
  background-color: #5e5855;
  font-size: 12px;
}
.showcase_detail .explain {
  margin: 12px 0 0;
  color: #000;
  font-size: 12px;
}
.showcase_detail .explain .html_tag {
  padding: 0 2px;
  border: 1px solid #bab6ad;
  border-radius: 1px;
  color: #f39800;
  background-color: rgba(229, 228, 225, 0.5);
}

/* showcase_list */
.showcase_list {
  border-top: 1px solid #e5e4e1;
}
.showcase_list .showcase_list_inner {
  width: 920px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}
.showcase_list .showcase_list_inner ul {
  float: left;
  width: 440px;
}
.showcase_list .showcase_list_inner ul li {
  margin: 2px 0;
  line-height: 1.428;
  font-size: 14px;
  font-weight: 700;
}
.showcase_list .showcase_list_inner ul li.current a {
  color: #f39800;
}

/* filter */
.filter {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.filter dt {
  padding: 14px 0;
  color: #fff;
  background-color: #f39800;
  cursor: pointer;
}
.filter dt p {
  width: 920px;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
}
.filter dt p.close:after {
  font-family: "fontello";
  content: '\e801';
  color: #fff;
  position: absolute;
  right: 0;
}
.filter dd {
  padding: 10px 0 30px;
  background-color: #4c4a48;
}
.filter table {
  width: 920px;
  margin: 0 auto;
}
.filter th {
  width: 85px;
  padding: 8px 0;
  color: #f39800;
  font-size: 14px;
  text-align: right;
}
.filter td {
  padding: 0 0 0 24px;
  font-size: 14px;
}
.filter td input[type=checkbox] {
  display: none;
}
.filter td .checkbox {
  display: inline-block;
  margin-right: 10px;
  padding-left: 12px;
  color: #807d77;
  cursor: pointer;
}
.filter td .checkbox:before {
  font-family: "fontello";
  content: '\e803';
  margin-right: .2em;
}
.filter td input[type=checkbox]:checked + .checkbox {
  color: #fff;
}
.filter td input[type=checkbox]:checked + .checkbox:before {
  content: '\e800';
}
.filter td .sort {
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 5px;
  background: url(../img/showcase/select_arrow.gif) no-repeat 90% 0.8em #fff;
}
.filter td .sort select {
  width: 130%;
  padding: 4px 25px 4px 15px;
  border: none;
  color: #444;
  background: none transparent;
  vertical-align: middle;
  box-sizing: content-box;
  font-size: 14px;
  cursor: pointer;
}

.showcase_detail .explain {
  margin-bottom: 12px;
}

.showcase_detail input {
  border: 0;
  font-size: 12px;
  line-height: 14px;
  outline: 0;
  padding: 0;
  width: 135px;
}
